.Bildekarusell /* Navnet på classen */
{
animation-name: example; /* Navnet på animasjonen*/
animation-duration: 20s; /* Hvor lenge skal den vare, før den gjentar seg selv */
animation-iteration-count: infinite; /* Hvor mange ganger skal den gjentas? - Her uendelig */
min-height: 500px; /* Minimumshøyde på classen */
margin: 15px; /* Hvor langt fra kanten classen skal være*/
width: 1100px;
}


.Bildekarusell:hover /* Hva skal skej når en har musepekeren over animasjonen (classen) */
{
width: 1100px; /* Ny bredde */
height: 700px; /* Ny høyde */
}

@keyframes example /* nøkkelbilder/keyframes som skal brukes i animasjonen ved navn example */ 
{
20%   {background-image: url(foto_historie_1.1.jpg);}
50%  {background-image: url(Foto_historie_2.1.jpg);}
75%   {background-image: url(Foto_historie_3.1.jpg);}
100%  {background-image: url(Foto_historie_4.1.jpg);}
}
