@charset "UTF-8";


body {
  background-image: url("Content_Archive/blue_shingles.jpg");
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.main {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.header {
  grid-column:1/13;
  background-color: dimgrey;
  font-size: 12px;
  color: black;
}
.headersub {
  grid-column: 2/12;
  background-color: dimgrey;
  font-size: 12px;
  color: black;
}
.homebutton {
  grid-column: 1/2;
  background-color: dimgrey;
  font-size: 12px;
  padding-top: 20px;
}
.homebuttonreflection {
  grid-column: 12/13;
  background-color: dimgrey;
  font-size: 12px;
  color: dimgrey;
  padding-top: 20px;
}
.menuleft {
  display: grid;
  grid-column: 1/2; 
  background-color: #020318;
  height: 1px;
}
/*            Denne blir ikkje lengre brukt så eg har deaktivert den inntil videre.
.contentshowcaseoverskrift {
  display: grid;
  grid-row: 2;
  grid-column: 2/12;
  background-color: #020318;
  color: cornsilk;
} */
.contentshowcase {
  display: grid;
  grid-column: 2/12;
  background-color: #020318;
  color: cornsilk;
  padding-top: 2px;
}

.fagvalg {
  display: grid;
  grid-column: 2/12;
  background-color: #020318;
  color: cornsilk;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* dropdown ------------------------------------------*/
.dropdown {
  display: inline;
  position: relative;
}
.dropbtn {
  background-color: dimgrey;
  color: cornsilk;
  cursor: pointer;
  border-style: hidden;
  width: 120px;
  display: grid;
}
.dropdown-content {
  text-align: center;
  display: none;
  width: 100%;
  overflow: auto;
  background-color: #020318;
  z-index: 1;
}
.dropdown-content a {
  color: cornsilk;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: chocolate;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: chocolate;
}
/* dropdown ------------------------------------------*/


