@charset "UTF-8";


body {
  background-image: url("blue_shingles.jpg");
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.main {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.header {
  grid-column:1/12;
  grid-row: auto;
  background-color: dimgrey;
  font-size: 12px;
  color: cornsilk;
}
.menuleft {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/10;
  background-color: #020318;
}
.contentshowcaseoverskrift {
  display: grid;
  grid-row: 2;
  grid-column: 2/12;
  background-color: #020318;
  color: cornsilk;
} 
.contentshowcase {
  display: grid;
  grid-column: 2/12;
  grid-row: 3/40;
  background-color: #020318;
  color: cornsilk;
  padding-top: 2px;
}
.videospiller {
  margin-bottom: 350px;
}
.rapport {
  margin-bottom: 100px;
}


/* dropdown ------------------------------------------*/
.dropdown {
  display: inline;
  position: relative;
}
.dropbtn {
  background-color: dimgrey;
  color: cornsilk;
  cursor: pointer;
  border-style: hidden;
  width: 249px;
  display: grid;
}
.dropdown-content {
  text-align: center;
  display: none;
  width: 100%;
  overflow: auto;
  z-index: 1;
}
.dropdown-content a {
  color: cornsilk;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: chocolate;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: chocolate;
}
/* dropdown ------------------------------------------*/


