@charset "UTF-8";


body {
  background-image: url("Skulenettside_Content_Archive/blue_shingles.jpg");
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
} 

.main {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.header { /*Header til forsiden*/
  grid-column:1/13;
  background-color: dimgrey;
  font-size: 12px;
  color: black;
}
.headersub { /*Header til undersidene*/
  grid-column: 2/12;
  background-color: dimgrey;
  font-size: 12px;
  color: black;
}
h1 { /*Animasjon til overskriften til siden som gjør at teksten rulerer mellom hvit og den mørkeblå fargen som finnes på andre steder på siden*/
  animation-timing-function: linear;
	animation: overskrift_animasjon 7s infinite; /* Henter animasjon fra (((?DEN?))) som ligger under og spiller den uendelig mangen ganger*/
  animation-direction: alternate; /*Hvordan den kjører gjennom overgangen fra hvit til blå*/
}
@keyframes overskrift_animasjon { /*Definerer keyframes til overskrift_animasjon i "h1" som ligger over*/
  from {color:white;}
  to {color: #14172F;}
}
.homebutton { /*Knapp som tar deg tilbake til forsiden fra undersidene */
  grid-column: 1/2;
  background-color: dimgrey;
  font-size: 12px;
  padding-top: 20px;
}
.homebuttonreflection { /*Estetisk element for symmetri*/
  grid-column: 12/13;
  background-color: dimgrey;
  font-size: 12px;
  color: dimgrey;
  padding-top: 20px;
}
.menuleft { /* Definerer området der dropdown menyen ligger */
  display: grid;
  grid-column: 1/2; 
  background-color: #020318;
  height: 1px;
}
/*            Denne blir ikkje brukt lengre så den er deaktivert inntil videre.
.contentshowcaseoverskrift {
  display: grid;
  grid-row: 2;
  grid-column: 2/12;
  background-color: #020318;
  color: cornsilk;
} */
.contentshowcase { /*Viser det aller nyeste som er lagt ut. Øverst på fremsiden */
  display: grid;
  grid-column: 2/12;
  background-color: #020318;
  color: cornsilk;
  padding-top: 2px;
}

.fagvalg { /*menyen med fagvalg på fremsiden vist som 4 bilder som representerer de forskjellige fagene */
  display: grid;
  font-size: 17px;
  grid-column: 2/12;
  background-color: #020318;
  color: cornsilk;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* dropdown knapp start ------------------------------------------*/
.dropdown {
  display: inline;
  position: relative;
}
.dropbtn {
  background-color: dimgrey;
  color: cornsilk;
  cursor: pointer;
  border-style: hidden;
  width: 120px;
  display: grid;
}
.dropdown-content {
  text-align: center;
  display: none;
  width: 100%;
  overflow: auto;
  background-color: #020318;
  z-index: 1;
}
.dropdown-content a {
  color: cornsilk;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: chocolate;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: chocolate;
}
/* dropdown knapp slutt ------------------------------------------*/


